.navbar {
    height: 60px;
    background-color: #111111 !important;
}

#menu-principal {
    flex: 1 1 100%;
}

#menu-principal ul {
    padding: 0;
    list-style: none;
}

#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: #fff;
}