<div class="paginas-internas">
    <!--Sección de menú-->
    <section class="bienvenidos">
        <header class="encabezado fixed-top" role="banner" id="encabezado">
            <div class="container">
                <a [routerLink]="['/home']" class="logo">
                    <img src="../../../assets/img/logo.png" width="40px" height="30px" alt="Logo del titulo">
                </a>
                <button type="button" class="boton-menu d-md-none" data-toggle="collapse" data-target="#menu-principal" aria-expanded="false">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                </button>
                <nav id="menu-principal" class="collapse">
                    <ul>
                        <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/nosotros']">Nosotros</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/servicios']">Servicios</a></li>
                        <li routerLinkActive="active"><a [routerLink]="['/contacto']">Contacto</a></li>
                        <li routerLinkActive="active" *ngIf="auth.isAuthenticated()"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="nav-item dropdown" *ngIf="auth.isAuthenticated()">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ profile?.given_name }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#!">Perfil</a>
                                <a class="dropdown-item" (click)="salir()">Salir</a>
                            </div>
                        </li>
                        <li *ngIf="auth.isAuthenticated()">
                            <a class="perfil"><img src="{{profile?.picture}}" width="30px" height="30px" alt="Perfil usuario" style="border-radius: 50%"></a>
                        </li>
                    </ul>
                </nav>

            </div>

        </header>
        <div class="texto-encabezado text-center">
            <div class="container">
                <!--Encabezado de página-->
                <h1 class="display-4 wow bounceIn">Contacto</h1>
                <p class="wow bounceIn" data-wow-delay=".3s">Estamos listos para ayudarte</p>
            </div>
        </div>
    </section>
    <section class="ruta py-1">
        <div class="container">
            <div class="row">
                <!--Redirección a Home del sistema-->
                <div class="col-12 text-right">
                    <a [routerLink]="['/home']">Inicio</a> » Contacto
                </div>
            </div>
        </div>
    </section>
    <!--Sección de formulario-->
    <main class="py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="mb-2">Formulario de Contacto</h2>
                    <form action="#">
                        <div class="form-group row">
                            <label for="nombre" class="col-md-4 col-form-label">Nombre</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" data-toggle="tooltip" data-placement="top" title="Ingrese su nombre completo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="email" name="email" placeholder="Ingrese su email" data-toggle="tooltip" data-placement="top" title="Ingrese su email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mensaje" class="col-md-4 col-form-label">Mensaje</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="5" type="text" id="mensaje" name="mensaje" placeholder="Ingrese su mensaje" data-toggle="tooltip" data-placement="top" title="Ingrese un mensaje"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">
                    <h3>Detalles de Contacto</h3>
                    <p>Si tienes dudas o consultas acerca de nuestros servicios, no dudes en escribirnos, como empresa nos gusta estar en contacto con nuestros clientes y usuarios.</p>
                    <p>Si tienes dudas en cuanto a la funcionalidad, escribenos...esperaremos y atenderemos de la mejor manera tus dudas o inquietudes.</p>
                    <p>Animate!!!</p>
                </div>


            </div>
        </div>
    </main>
    <!--Footer de página-->
    <footer class="piedepagina" role="contentinfo">
        <div class="container">
            <p>2018 © MARKETMAP Todos los derechos reservados</p>
            <ul class="redes-sociales">
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!--Botón de ir hacia arriba, se activa al tope de pagina-->
    <a class="ir-arriba" data-scroll href="contacto#encabezado"><i class="fas fa-arrow-circle-up" aria-hidden="true"></i></a>
</div>