<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MarketMap-Login</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu-principal">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="#" width="30" height="30" alt="">
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/home']">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <p>Login</p>
    </section>


</body>

</html>